<div class="wrapper">
  <div class="container">
    <div class="inner">
      <button (click)="onLogoClick()" class="logo"><img src="/assets/logo.svg" alt="Youtube client logo"></button>
      <form>
        <input (input)="onInput($event)" type="text" class="input" name="search" id="search"
          placeholder="What do you want to find out?">
      </form>
      <button class="filters-button" (click)="toggleFilter()"><img src="/assets/filters.svg" alt=""></button>
      <div class="profile-wrapper">
        <!-- <p class="profile-text">Your Name</p>
        <button class="profile-button"><img src="/assets/profile.svg" alt=""></button> -->
        <div *ngIf="isAuth; else notLogged">
          <button class="profile-button" (click)="onAdmin()">Admin</button>
          <button class="profile-button" (click)="logout()">Log out</button>
        </div>
        <ng-template #notLogged>
          <button class="profile-button" (click)="login()">Log in</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="isFilterShown">
  <app-filters></app-filters>
</ng-container>