.wrapper {
  width: 263px;
  height: 327px;
  border-radius: 5px;
  background: #e5e5e5;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 20px 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 123px;
  object-fit: cover;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 21px;
}

.stats-item {
  display: flex;
  align-items: center;
}

.stats-counter {
  color: #000;
  font-size: 10px;
  margin-left: 3px;
}

.title {
  color: #4f4f4f;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  margin-top: 21px;
}

.more {
  background-color: #2f80ed;
  color: #fff;
  box-shadow: 2px 0px 4px 0px #2f80ed;
  width: 120px;
  height: 32px;
  margin: 0 auto;
  margin-top: auto;
  padding: 6px 25px 6px 31px;
  border-radius: 5px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #5ea2ff;
  }
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;

  &.red {
    background-color: #eb5757;
  }

  &.yellow {
    background-color: #f2c94c;
  }

  &.green {
    background-color: #27ae60;
  }

  &.blue {
    background-color: #2f80ed;
  }
}
