.wrapper {
  padding: 31px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;
  max-width: 1140px;
  margin: 0 auto;

  @media screen and (max-width: 1150px) {
    max-width: 845px;
  }

  @media screen and (max-width: 860px) {
    max-width: 555px;
  }

  @media screen and (max-width: 568px) {
    max-width: 263px;
  }
}
